.about-us-title {
    text-align: center
}

.about-us-title h1 {
    color: black;
    font-size: 24pt;
}

.about-us-section {
    background-color: #faefc2;
    color: black;
    font-size: 14pt;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  