/* Header Styles */
.header {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo Styles */
.logo {
  font-size: 24px;
  font-weight: bold;
}

/* Search Bar Styles */
.search-bar {
  width: 300px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #fff;
  border-radius: 5px;
}

/* User Icon Styles */
.user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  border: 3px solid #3498db;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.initials
{
  color: black;
}

/* Dropdown Styles */
.dropdown {
  display: none;
  position: absolute;
  top: 50px;
  right: 10px;
  background-color: #fff;
  border: 2px solid #445988;
  border-radius: 5px;
  padding: 5px;
}

.dropdown-item {
  padding: 5px;
  cursor: pointer;
  background-color: transparent;
  font-size: 10pt;
  border: none;
}

.dropdown-item:hover {
  background-color: gray;
}

/* Show Dropdown on Hover */
.user-icon:hover .dropdown {
  display: block;
}
