/* Header Styles */
.header {
    background-color: #171e2e;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  /* Logo Styles */
  .logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    align-items: left;
    text-decoration: none;
  }

  .logo:visited {
    color: white;
    text-decoration: none;
  }

 /* Search Bar Styles */
 .search-bar {
  width: 300px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
  background-image: url('../search-icon.png'); 
  background-size: 20px; /* Adjust size of icon here */
  background-repeat: no-repeat;
  background-position: right center;
}
  
  /* User Icon Styles */
  .user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: gray;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .initials
  {
    color: black;
    font-weight: bold;
  }
  
  /* Dropdown Styles */
  .dropdown {
    display: none;
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: #fff;
    border: 2px solid #445988;
    border-radius: 5px;
    padding: 5px;
    z-index: 999;
  }
  
  .dropdown-item {
    padding: 5px;
    cursor: pointer;
    background-color: transparent;
    font-size: 12pt;
    border: none;
  }

  .dropdown-item:hover {
    background-color: gray;
  }
  
  /* Show Dropdown on Hover */
  .user-icon:hover .dropdown {
    display: block;
  }
  