/* Header Styles */
.header {
    background-color: #fff;
    color: black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  /* Logo Styles */
  .logo {
    font-size: 24px;
    font-weight: bold;
    align-items: left;
    text-decoration: none;
  }

  .logo:visited {
    color: black;
    text-decoration: none;
  }
  
  /* User Icon Styles */
  .user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: lightgray;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .initials
  {
    color: white;
    font-weight: bold;
  }
  
  /* Dropdown Styles */
  .dropdown {
    display: none;
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: #fff;
    border: 2px solid #445988;
    border-radius: 5px;
    padding: 5px;
  }
  
  .dropdown-item {
    padding: 5px;
    cursor: pointer;
    background-color: transparent;
    font-size: 12pt;
    border: none;
  }

  .dropdown-item:hover {
    background-color: gray;
  }
  
  /* Show Dropdown on Hover */
  .user-icon:hover .dropdown {
    display: block;
  }
  