.formBox {
    width: 380px;
    height: 510px;
    position: relative;
    margin: 3% auto;
    border-radius: 10px;
    background: beige;
    box-shadow: 0 0 50px black;
    padding: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #inner-title {
    font-family: 'Arial';
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
  }

  .input-group {
    top: 50px;
    position: absolute;
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .5s;

  }

  /* Style for input fields */
.input-group input[type="text"],
.input-group input[type="password"] {
  width: 60%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid gray;
  margin-bottom: 10px;
}

/* Style for placeholder text */
.input-group input[type="text"]::placeholder,
.input-group input[type="password"]::placeholder {
  font-size: 14px; /* Adjust placeholder font size */
}

.buttons-container {
  text-align: center;
}

.buttons {
    padding: 10px 20px;
    position: relative;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #171e2e;
    border: 0;
    outline: none;
    border-radius: 30px;
    transition: background 0.3s;
    color: white;
    text-align: center;
    margin: 0 10px; /* horizontal spacing */
    font-size: 12pt;
}

.login-button {
  background: #171e2e;
  color: white;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 14pt;
  display: block;
  margin-top: 50px;
}

.login-result {
  margin-top: 20px;
}

.login-button:hover {
    background: #445988;
}

.login-field.error {
  border: 2px solid red;
  background-color: lightpink;
}

.login-field:focus {
  border: 2px solid #1e90ff;
}
