.title-container {
    margin-top: 2%;
}

.title {
    text-align: center;
    color: white;
    font-size:24pt;
}

.logo
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35%;
}
