.formBox {
    width: 380px;
    height: 510px;
    position: relative;
    margin: 3% auto;
    border-radius: 10px;
    background: beige;
    box-shadow: 0 0 50px black;
    padding: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  
  .input-group {
    top: 50px;
    position: absolute;
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .5s;
  }
  
  .input-group input,
  .input-group select,
  .input-group label {
    margin-bottom: 10px;
  }
  
  .input-group button {
    margin-top: 10px;
  }
  
  #inner-title {
    font-family: 'Arial';
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .user-type-label {
    margin-right:10px;
  }
  
  .buttons {
    top: 60px;
    width: 30%;
    padding: 10px 30px;
    position: relative;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #171E2E;
    border: 0;
    outline: none;
    border-radius: 30px;
    transition: background 0.3s;
    color: white;
  }
  
  .buttons:hover {
    background: #445988;
  }